<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - _8ball_arena</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/_Layout.css" asp-append-version="true" />
</head>
<body>
    <div class="container-fluid d-flex p-0">
        <aside class="sidebar p-3">
            <a class="navbar-brand d-block mb-4" asp-area="" asp-controller="Home" asp-action="Index">8ball_arena</a>
            <a class="nav-link text-light" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
            <a class="nav-link text-light" asp-area="" asp-controller="Duel" asp-action="Index">Duels</a>
            <a class="nav-link text-light" asp-area="" asp-controller="User" asp-action="Index">Users</a>
            @{
                if (string.IsNullOrEmpty(ViewBag.Id))
                {
                    <a class="nav-link text-light" asp-area="" asp-controller="Login" asp-action="Index">Login</a>
                    <a class="nav-link text-light" asp-area="" asp-controller="User" asp-action="Create">Register</a>
                }
                else
                {
                    <a class="nav-link text-light" asp-area="" asp-controller="User" asp-action="Details" asp-route-id="@ViewBag.Id">Profile</a>
                    <a class="nav-link text-light" asp-area="" asp-controller="Login" asp-action="Logout">Logout</a>
                }
            }
        </aside>

        <div class="content flex-grow-1 p-4">
            <header>
                <h1>@ViewData["Title"]</h1>
            </header>
            <main role="main" class="pb-3">
                @RenderBody()
            </main>
            <footer class="border-top footer text-muted mt-4">
                <div class="container">
                    &copy; 2024 - _8ball_arena
                </div>
            </footer>
        </div>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
