@model ErrorViewModel

<h1 class="text-danger">Error.</h1>
<h2 class="text-danger">An error occurred while processing your request.</h2>

@if (TempData["Error"] != null)
{
	<p class="text-danger">
		<strong>Request ID:</strong> <code>@TempData["Error"]</code>
	</p>
}
