@{
    ViewData["Title"] = "Login";
}


    <form method="post" asp-controller="Login" asp-action="Index">
        <div>
            <label for="username">Username:</label>
            <input class="form-control bg-dark text-light" type="text" id="username" name="username" required />
        </div>
        <div>
            <label for="password">Password:</label>
            <input class="form-control bg-dark text-light" type="password" id="password" name="password" required />
        </div>
        <div>
            <button type="submit" class="btn btn-primary">Login</button>
        </div>
        @if (ViewBag.Error != null)
        {
            <div style="color:red;">@ViewBag.Error</div>
        }
    </form>

