@model CreateDuelViewModel

<h2>Create Duel</h2>

<!-- Display general errors at the top -->
@if (TempData["Error"] != null)
{
    <div class="alert alert-danger">
        @TempData["Error"]
    </div>
}

@if (ViewBag.LoginError != null)
{
	<div class="alert alert-danger">@ViewBag.LoginError</div>
}

<form asp-action="Create" method="post" enctype="multipart/form-data">
    <div class="form-group">
        <label asp-for="Username" class="control-label"></label>
        <input asp-for="Username" class="form-control bg-dark text-light" />
        <span asp-validation-for="Username" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-primary">Create Duel</button>
</form>

<div>
    <a asp-action="Index" asp-controller="Home">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
