@{
    ViewData["Title"] = "Home";
}

<h2>Welcome to 8ball Arena!</h2>

@if (string.IsNullOrEmpty(ViewBag.Username))
{
    <p>You are not logged in.</p>
}
else
{
    <p>Welcome, @ViewBag.Username!</p>
}

