@{
    ViewData["Title"] = "Home";
}

<h2>Welcome to 8ball Arena!</h2>

@if (string.IsNullOrEmpty(ViewBag.Username))
{
    <p>You are not logged in. <a asp-controller="Login" asp-action="Index">Login</a></p>
}
else
{
    <p>Welcome, @ViewBag.Username!</p>
    <a asp-controller="Login" asp-action="Logout">Logout</a>
}

